*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 1100px;
    font-family: Raleway, sans-serif, Ralewaynormal;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
ul, 
ol,
li, 
blockquote {
    margin: 0;
    padding: 0;
}

p {
    font-size: 20px;
}

a:visited {
    color: #fff;
}

a {
  color: inherit;
}

button {
  font: inherit;
}
