
/*Шапка*/

.header {

    /*грид контейнер, чтобы распределить элементы*/

    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items:center;
    grid-template-rows: 293px;
    font-size: 18px;
}

.menu_header {

    /*добавляю из макета точно такое же обозначение как в макете*/

    display: flex;
    gap: 33px;
    list-style-image: url("./image/list_marker.svg");
    margin-left: 50px;
}

.menu_header_main {

    /*убераю у первого элемента маркер*/

    list-style: none;
}

.menu_main_a {

    /*убираю подчёркивание у первого элемента*/

    text-decoration: none;
}

.menu_a:visited {

    /*делаю точно такой же цвет, который и был до нажатия на ссылку*/

    color: #000;
}

.logo_header {

    /*выравнивание по центру*/

    justify-self: center;
}

.address {

    /*убираю маркеры и нормальное написание текста*/

    list-style: none;
    font-style: normal;
    align-items: flex-start;
}

.address_header {
    justify-self: end;
    width: 240px;
    margin-right: 50px;
}

/*1 сектор*/

.cover {

    /*флекс контейнер и его в колоннки.
    фоновое изображение, центрирую, всё, что выходит за границы скрываю*/

    display: flex;
    flex-direction: column;
    height: 757px;
    margin-bottom: 180px;
    background-image: url(./image/flower.jpg);
    background-position: center;
    overflow: hidden;
    color: #FFFFFF;
    position: relative;
}

.cover::before {

    /*фон для затемнения*/

    content: "";
    width: 1100px;
    height: 757px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
}

h1 {
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    z-index: 2;
    margin: 0 50px 0 50px;
    display: flex;
    flex-direction: column;
}

.cover_title {
    margin-top: 165px;
}

.title_word_tebe {
    align-self: center;
    margin-left: 30px;
    margin-top: 17px
}

.title_word_nado {
    align-self: end;
    margin-top: 17px;
    margin-right: -30px;
}

.description {

    /*флекс контейнер, в котором два элемента друг за другом по горизонтали*/
    
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin: auto 50px 50px 50px;
    z-index: 2;
}

.description_p {
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 0.85em;
}

button {
    width: 256px;
    height: 51px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 22px;
    background-color: transparent;
    border: #FFFFFF 1px solid;
    outline: none;
}

/*2 сектор*/

.lots {

    /*флекс контейнер с коллонным расположением элементов*/

    margin: 0 24px 120px 24px;
    display: flex;
    flex-direction: column;
}

h2 {
    text-transform: uppercase;
    font-size: 40px;
}

.lots_title {
    margin-left: 40px;
}

.lots_cards {

    /*флекс контейнер с карточками, расположенными по горизонтали*/

    display: flex;
    list-style: none;
    gap: 25px;
    flex-wrap: wrap;
}

.card {

    /*настройка карточки*/

    width: 334px;
    height: 596px;
    margin-top: 27px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    position: relative;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.card::before {

    /*затемнение*/

    content: "";
    z-index: 1;
    width: 334px;
    height: 596px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
}

.card_title {
    z-index: 2;
    margin: 48px 40px auto 40px;
    text-transform: uppercase;
    font-size: 22px;
}

.card_text {
    z-index: 2;
    margin: auto 40px 48px 40px;
}

/*для каждой карточки своё фоновое изображение*/

.card_film {
    background-image: url(./image/film.jpg);
}

.card_book {
    background-image: url(./image/book.png);
}

.card_picture {
    background-image: url(./image/idontknow.jpg);
}

.lots_more {
    font-size: 20px;
    margin: 30px auto 0px 40px;
}

/*3 сектор*/

.about {

    /*грид контейнер с 4 колонками*/

    margin: 0 24px 181px 24px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.about_logo {
    margin: 35px auto auto 47px;
}

.about_text {
    width: 690px;
    margin-top: 135px;
    margin-left: 72px;
}

.about_title {
    margin-bottom: 100px;
}

.about_paragrath {
    margin-bottom: 24px;
}

/*подвал сайта*/

.footer {

    /*грид контейнер с 10 колонками*/

    display: grid;
    grid-template-columns: 1fr 4fr min-content;
    grid-template-rows: 180px;
    font-size: 18px;
}

.address_footer {
    width: 264px;
    margin-left: 50px;
    gap: 5px;
}

.menu_footer {
    list-style: none;
    text-align: center;
    margin-left: -23px;
}

.socials {
    margin-right: 50px;
    display: flex;
    list-style: none;
    gap: 48px;
}